<h2>Buscar un Autor</h2>
<form action="/authors" method="GET">
    <label>Nombre del Autor</label>
    <input type="text" name="name" value="<%=searchOptions.name%>">
    <button type="submit">Buscar</button>
</form>
<br>
<% authors.forEach(author => { %>
<div><%=author.name%></div>
<a href="/authors/<%= author.id %>">Ver Autor</a>
<a href="/authors/<%= author.id %>/edit">Editar Autor</a>
<%- include("../partials/deleteForm",
            { url: `/authors/${author.id}` }) %> 
<% }) %>