<h2 class="page-header">Buscar un Autor</h2>
<form action="/authors" method="GET">
    <label>Nombre del Autor</label>
    <input type="text" name="name" value="<%=searchOptions.name%>">
    <button type="submit">Buscar</button>
</form>
<br>
<% authors.forEach(author => { %>
<div><%=author.name%></div>
    <div class="btn-row">
    <a class="btn btn-primary" href="/authors/<%= author.id %>">Ver Autor</a>
    <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Editar Autor</a>
    <%- include("../partials/deleteForm", { url: `/authors/${author.id}` }) %>
    </div>
<% }) %>